*

# ---

!*.tf
!*.tftpl
!*.sh
!*.yml
!*.j2

!.gitignore
!README.md

!bash/
!templates/

!ansible/
!ansible/templates/
!ansible/variables/

# ---

backend.s3.tf
data.virtual_private_cloud.tf
*.terraform.yml