grafana:
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 30300

prometheus:
  service:
    type: NodePort
    nodePort: 30301

alertmanager:
  service:
    type: NodePort
    nodePort: 30302