---
all:
  hosts:
  %{ for name, vm in hosts ~}
  ${trimspace(vm.labels.role)}:%{ if contains(["master-a", "master-b", "worker-a", "worker-b"], vm.labels.role) }
      ansible_host: ${trimspace(name)}
  %{ endif }%{ endfor ~}