---
master_a: "${master_a}"
master_b: "${master_b}"
worker_a: "${worker_a}"
worker_b: "${worker_b}"

api_endpoint: "${api_endpoint}"
ingress_endpoint: "${ingress_endpoint}"

atlantis_node: "${atlantis_node}"